@page
@model Tienda_saludable.Pages.ClientesSca.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Title</h1>
<header class="header">
    <div class="menu container">
        <a asp-page="/Index" class="logo">Frutero</a>
        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="images/menu.png" class="menu-icono" alt="menu">

        </label>
        <nav class="navbar">
            <ul>
                <li><a asp-page="/Index">Inicio</a></li>
                <li><a asp-page="Privacity">Servicios</a></li>
                <li><a asp-page="ClientesSca/Index">Registro</a></li>
                <li><a asp-page="VentaSca/Index">Compras</a></li>
                <li><a asp-page="ProductoSca/Index">Productos</a></li>
            </ul>
        </nav>

        <div>
            <ul>
                <li class="submenu">
                    <img src="images/car.svg" id="img-carrito" alt="carrito">
                    <div id="carrito">
                        <table id="lista-carrito">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <a href="#" id="vaciar-carrito" class="btn-2">Vaciar Carrito</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cliente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
