@page
@model Tienda_saludable.Pages.ProductoSca.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Productos.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Productos.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Productos.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Productos.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Productos.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Productos.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Productos.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Productos.Stock)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Productos?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
