@page
@model Tienda_saludable.Pages.ProductoSca.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>PRODUCTOS</h1>

<p>
    <a asp-page="Create">Crear Nuevo Producto</a>
</p>
<form method="get">
    <p>
        <select asp-for="NombreProducto" asp-items="Model.Nombre">
            <option value="">All</option>
            <option value="InStock">Cantidad en stock</option>
            <option value="Search_verdura">Verdura</option>
            <option value="Searc_Fruta">Fruta</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        @*Price: <input type="number" asp-for="Preco" />*@
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Productos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
