@page
@model Tienda_saludable.Pages.VentaSca.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venta.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venta.Cliente.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venta.FechaVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venta.FechaVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venta.TotalVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venta.TotalVenta)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Venta?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
