@*
@page
@model Tienda_saludable.Pages.VentaSca.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="get">
    <div class="form-group">
        <input type="text" asp-for="SearchString" class="form-control" placeholder="Buscar por producto">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venta[0].Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venta[0].FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venta[0].TotalVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Venta) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalVenta)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@



@page
@model Tienda_saludable.Pages.VentaSca.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Crear Nuevo</a>
</p>

<form method="get">
    <div class="form-group">
        <input type="text" asp-for="SearchString" class="form-control" placeholder="Buscar por producto">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Venta[0].Cliente)</th>
            <th>@Html.DisplayNameFor(model => model.Venta[0].FechaVenta)</th>
            <th>@Html.DisplayNameFor(model => model.Venta[0].TotalVenta)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Venta)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Cliente.Apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaVenta)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalVenta)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
